<div class="col-12 col-md-6 col-lg-7"> 
  <div class="image-container">
    <%= link_to (image_tag @meta['property']['og:image'][0], class:"project-image"), @meta['property']['og:url'][0] %>
  </div>
</div>